@page
@Model Bootstrap
@{
    ViewData["Title"] = "Bootstrap";
}

<h1>Lab 10</h1>
<hr />
<div class="row"> 
	<div class="col-4 border border-danger"> 
        <form method="post">
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
    </div>
	<div class="col-8 border border-danger">
    <img src="src/computer.jpeg" alt="Computer" height="250" width="250">
    </div>
</div>
</div>
<div class="row">
    <div class="col-4 border border-primary">
    Row Two Column One
    </div>
    <div class="col-5 border border-primary">
    Row Two Column Two
    </div>
    <div class="col-3 border border-primary">
    Row Two Column Three
    </div>
</div>

