@page
@model BootstrapModel
@{
    ViewData["Title"] = "Bootstrap";
}

<h1>Lab 10</h1>
<hr />
<div class="row"> 
	<div class="col-4 border border-danger"> 
        <form method="post">
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreditCard" class="control-label"></label>
            <input asp-for="CreditCard" class="form-control" />
            <span asp-validation-for="CreditCard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
    </div>
	<div class="col-8 border border-danger">
    <img src="src/computer.jpeg" alt="Computer" height="250" width="250">
    </div>
</div>
</div>
<div class="row">
    <div class="col-4 border border-primary">
    @Model.FirstName
    </div>
    <div class="col-5 border border-primary">
    @Model.LastName
    </div>
    <div class="col-3 border border-primary">
    @Model.CreditCard
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}